@import "../bower_components/stylmethods/vendor.styl"

video
  background-color: #4491c4
  -webkit-box-shadow: -7px 10px 39px -5px rgba(0,0,0,0.72)
  -moz-box-shadow: -7px 10px 39px -5px rgba(0,0,0,0.72)
  box-shadow: -7px 10px 39px -5px rgba(0,0,0,0.72)
  width: 25rem
  float: left
  margin-right: 3rem

// button
//   border: 1px solid #dedede
//   border-radius: 10px
//   color: white
//   font: bold 12px/12px HelveticaNeue, Arial
//   padding: 8px 11px
//   background-color: #4491c4
//   border-color: #dedede #d8d8d8 #d3d3d3
//   box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb
//   &.disable
//     background: #F5FFFA
